# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
.venv/
venv/

# Node / Expo
node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# OS
.DS_Store
Thumbs.db
